:root{
    --Lime: hsl(61, 70%, 52%);
    --Red: hsl(4, 69%, 50%);
    --White: hsl(0, 0%, 100%);
    --Slate-100: hsl(202, 86%, 94%);
    --Slate-300: hsl(203, 41%, 72%);
    --Slate-500: hsl(200, 26%, 54%);
    --Slate-700: hsl(200, 24%, 40%);
    --Slate-900: hsl(202, 55%, 16%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Slate-100);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: var(--White);
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    width: 700px;
    height: 500px;
}

.form{
    width: auto;
    height: 100%;
}

.result{
    width: 50%;
    height: 100%;
    background-color: var(--Slate-900);
    border-radius: 0 10px 10px 75px;
}